<div class="card {{ hasGetImageInfo ? 'small-card' : '' }}">
  <div class="image">
    <input
      type="file"
      (change)="onFileChange($event)"
      placeholder="_"
      class="image_input"
    />
    <div class="{{hasGetImageInfo ? 'hidden' : 'image-container'}}">
      <img
        [ngSrc]="uploadImgSrc === '' ? imgSrcArray[2] : uploadImgSrc"
        alt=""
        width="100"
        height="100"
        priority
        class="image-box"
      />
      <img
        [ngSrc]="imgSrcArray[0]"
        alt=""
        width="100"
        height="100"
        class="image-add"
      />
      <img
        [ngSrc]="imgSrcArray[1]"
        alt=""
        width="100"
        height="100"
        priority
        class="image-arrow"
      />
    </div>
  </div>
  <div class="{{hasGetImageInfo ? 'hidden' : 'preimage-container'}}">
    <div class="preimage-box">
      @for(image of preImageSrcArray; track i; let i = $index) {
      <img
        [ngSrc]="imgSrcArray[image]"
        alt=""
        width="100"
        height="100"
        class="preimage"
        priority
        [ngStyle]="{ transform: 'rotate(' + i * 10 + 'deg)' }"
      />
      }
    </div>
  </div>
  <div class="button-container {{ hasGetImageInfo ? 'hidden' : '' }}">
    <button
      type="button"
      class="button {{uploadImgSrc === '' ? 'button1' : 'button3'}}"
    >
      {{uploadImgSrc === '' ? 'Upload Image' : 'Change Image'}}
      <input
        type="file"
        (change)="onFileChange($event)"
        placeholder="_"
        class="image_input"
      />
    </button>
    <button
      type="button"
      class="button {{uploadImgSrc === '' ? 'button2' : 'button4'}}"
      (click)="uploadImgSrc === '' ? openCamera() : imgSrcEvent.emit('')"
    >
      {{uploadImgSrc === '' ? 'Take a picture' : 'Delete image'}}
    </button>
  </div>
</div>
