.card {
  background: white;
  width: 20rem;
  height: 25rem;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.small-card {
  width: 10rem;
  height: 12.5rem;
  margin-top: 5vh;
  transition: width 0.75s ease-in-out, height 0.75s ease-in-out,
    margin-top 0.75s ease-in-out;
}
.image {
  position: relative;
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.image-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: rotate(-20deg) translate(-5vh, 9vh);
}
.image-coninfo {
  transform: rotate(0) scaleX(2.8) scaleY(3.2);
  transition: transform 1s ease-in-out 100ms;
  overflow: hidden;
}
.image-containerinfo {
  width: 8.5rem;
  height: 10.5rem;
}
.image_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 999;
}
.image-box {
  transform: rotate(90deg) scale(0.9);
  object-fit: cover;
  border-radius: 5px;
}
.image-info {
  transform: rotate(0deg);
  transition: transform 1s ease-in-out 100ms;
}
.image-add {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.35);
}
.image-arrow {
  position: absolute;
  top: 0;
  left: 50%;
  transform: rotate(190deg) translateX(50%) translateY(5rem);
}
.preimage-container {
  position: absolute;
  top: 25%;
  right: 25%;
  width: 10rem;
  height: 10rem;
  transform: translateX(-2.5rem) translateY(-4.5rem) rotate(20deg);
}
.preimage-box {
  position: relative;
  width: 100%;
  height: 100%;
}
.preimage {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 6rem;
  border-radius: 5px;
  object-fit: fill;
  transform-origin: bottom center;
}
.button-container {
  width: 100%;
  transform: translateY(-0.5rem);
}
.button {
  height: 2.5rem;
  border-radius: 10px;
  border: none;
  width: 45%;
  margin: 0 2.5%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: large;
  font-weight: bold;
  font-style: oblique;
}
.button1 {
  position: relative;
  background: #047170;
}
.button2 {
  background: #5df07d;
}
.button3 {
  position: relative;
  background: #faf200;
}
.button4 {
  background: #e52121;
}
.upload-container {
  position: relative;
  height: 75%;
  width: 75%;
}
.upload-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.hidden {
  display: none;
}
.full {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
