<div class="navbar">
    <div class="navbar-container">
      <div class="logo-container" routerLink="/">
        <img
          [ngSrc]="imgSrcArray[10]"
          alt=""
          width="100"
          height="100"
          class="logo"
        />
        <div class="logo-name">Nhóm 5 cái điếu to</div>
      </div>
      <div class="content-container">
        <div class="content" routerLink="/">Home</div>
        <div class="content" routerLink="/insect-identify">Insect Identify</div>
        <div class="content" routerLink="/about">About our team</div>
      </div>
    </div>
  </div>
