.container {
    max-width: 40rem;
    aspect-ratio: 1;
    height: auto;
    background: white;
    margin: 5vh auto 0 auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  