<div
  class="{{ isPopupOpen ? 'popup-container' : 'hidden' }}"
  (click)="isPopupOpen = false; popupEvent.emit({open: false})"
>
  <div
    class="popup-box"
    (click)="$event.preventDefault(); $event.stopPropagation()"
  >
    @if(!isLoading) {
    <div class="name-container">
      <div class="headers bigger">{{ imageInfo.name }}</div>
      <img
        [ngSrc]="imgSrcArray[13]"
        alt=""
        width="100"
        height="100"
        class="name-image"
        (click)="isPopupOpen = false; popupEvent.emit({open: false})"
      />
    </div>
    <a
      [href]="imageInfo.url"
      target="_blank"
      rel="noopener noreferrer"
      class="popup-url"
      (click)="$event.stopPropagation()"
      >{{imageInfo.url}}</a
    > <br>
    <a
      [href]="imageInfo.inaturalist_url"
      target="_blank"
      rel="noopener noreferrer"
      class="popup-url"
      (click)="$event.stopPropagation()"
      >{{imageInfo.inaturalist_url}}</a
    >
    <div class="break-line"></div>
    <img
      [ngSrc]="imageInfo.image || imgSrcArray[14]"
      alt=""
      width="100"
      height="100"
      class="popup-image"
    />
    <div class="break-line"></div>
    <div class="headers">
      Common Names:
      <br />
      @for(name of imageInfo.common_names; track i; let i = $index) {
      <div class="normal">{{ name }}</div>
      }
    </div>
    <div class="break-line"></div>
    <div class="headers">
      Description: <br />
      <div class="normal">
        {{ imageInfo.description }} <br />
        Source:
        <a
          [href]="imageInfo.url"
          class="popup-url"
          (click)="$event.stopPropagation()"
        >
          {{ imageInfo.url }}
        </a>
      </div>
    </div>
    <div class="break-line"></div>
    <div class="headers">
      Taxonomy:
      <br />
      @for(key of objectKeys(imageInfo.taxonomy).reverse(); track i; let i =
      $index) {
      <div class="normal">{{ key }}: {{ imageInfo.taxonomy[key] }}</div>
      }
    </div>
    <div class="break-line"></div>
    <div class="headers">
      Life Cycle:
      <br />
      @for(time of imageInfo.life_cycle; track i; let i = $index) {
      <div class="normal">{{ time.stage }}: {{ time.appearance }}</div>
      }
    </div>
    <div class="break-line"></div>
    <div class="headers">
      Host Plants:
      <br />
      @for(name of imageInfo.host_plants; track i; let i = $index) {
      <div class="normal">{{ name }}</div>
      }
    </div>
    <div class="break-line"></div>
    <div class="headers">
      Range:
      <br />
      <div class="normal">{{ imageInfo.range }}</div>
    </div>
    <div class="break-line"></div>
    <div class="headers">
      Harm to agriculture:
      <br />
      <div class="normal">{{ imageInfo.harm_for_agriculture }}</div>
    </div>
    <div class="break-line"></div>
    <div class="headers">
      Effective control methods:
      <br />
      @for(type of imageInfo.effective_control_methods; track i; let i = $index)
      {
      <div class="normal">{{ type.method }}: {{ type.description }}</div>
      }
    </div>
    } @else {
    <div class="name-container skeleton">
      <div class="headers bigger"></div>
      <img
        [ngSrc]="imgSrcArray[13]"
        alt=""
        width="100"
        height="100"
        class="name-image"
        (click)="isPopupOpen = false; popupEvent.emit({open: false})"
      />
    </div>
    <div class="popup-url skeleton"></div>
    <div class="break-line"></div>
    <div class="popup-image skeleton"></div>
    <div class="break-line"></div>
    <div class="headers">
      Common Names:
      <br />
      <div class="normal skeleton" style="width: 10rem; height: 1rem"></div>
    </div>
    <div class="break-line"></div>
    <div class="headers">
      Description: <br />
      <div class="normal skeleton" style="width: 10rem; height: 1rem"></div>
    </div>
    <div class="break-line"></div>
    <div class="headers">
      Taxonomy:
      <br />
      <div class="normal skeleton" style="width: 10rem; height: 1rem"></div>
    </div>
    <div class="break-line"></div>
    <div class="headers">
      Life Cycle:
      <br />
      <div class="normal skeleton" style="width: 10rem; height: 1rem"></div>
    </div>
    <div class="break-line"></div>
    <div class="headers">
      Host Plants:
      <br />
      <div class="normal skeleton" style="width: 10rem; height: 1rem"></div>
    </div>
    <div class="break-line"></div>
    <div class="headers">
      Range:
      <br />
      <div class="normal skeleton" style="width: 10rem; height: 1rem"></div>
    </div>
    <div class="break-line"></div>
    <div class="headers">
      Harm to agriculture:
      <br />
      <div class="normal skeleton" style="width: 10rem; height: 1rem"></div>
    </div>
    <div class="break-line"></div>
    <div class="headers">
      Effective control methods:
      <br />
      <div class="normal skeleton" style="width: 10rem; height: 1rem"></div>
    </div>
    }
  </div>
</div>
