.container {
  max-width: 40rem;
  aspect-ratio: 1;
  height: auto;
  background: white;
  margin: 5vh auto 0 auto;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
}
.content-container {
  display: flex;
  position: relative;
  margin-top: 1rem;
}
.content {
  width: 50%;
  text-align: justify;
}
.content-image {
  width: 50%;
  height: 100%;
}
.addi-image1 {
  position: absolute;
  top: -4rem;
  right: 0;
  transform: rotate(45deg);
}
.addi-image2 {
  position: absolute;
  bottom: -6rem;
  left: 0;
  transform: rotate(225deg);
}
