.background {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-image: url("/Background_Image.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.navbar {
  height: 8vh;
}
.navbar-container {
  height: 100%;
  max-width: 35rem;
  margin: 0 auto;
  padding-top: 1%;
  display: flex;
  align-items: center;
}
.logo-container {
  background: white;
  border-radius: 10px;
  height: 95%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 60%;
  aspect-ratio: 1;
  width: auto;
  margin: 0 5%;
}
.logo-name {
  text-align: center;
  margin: 0 7.5% 0 0;
  color: #00c04d;
  font-weight: 600;
}
.content-container {
  background: white;
  border-radius: 10px;
  height: 95%;
  width: 67.5%;
  margin-left: 2.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  margin: 05%;
  font-weight: 600;
}
.container {
  width: 90%;
  max-width: 45rem;
  min-height: 90vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 0 2% 1% 2%;
}
.card {
  position: relative;
  background: white;
  width: 50%;
  height: 50vh;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
}
.small-card {
  width: 25% !important;
  height: 25vh !important;
  margin-top: 5vh !important;
  transition: width 0.75s ease-in-out, height 0.75s ease-in-out,
    margin-top 0.75s ease-in-out;
}
.image {
  position: relative;
  width: 75%;
  padding: 12.5vh 0;
}
.image-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: rotate(-20deg) translate(-5vh, 9vh);
}
.image_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 999;
}
.image-box {
  transform: rotate(90deg) scale(0.8);
}
.image-add {
  position: absolute;
  top: 0;
  left: 50%;
  transform: scale(0.3) translateX(calc(-50% - 14.5vh));
}
.image-arrow {
  position: absolute;
  top: 0;
  left: 50%;
  transform: rotate(190deg) translateX(50%) translateY(10vh);
}
.preimage-container {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 35%;
  height: 35%;
  transform: translateX(-25%) translateY(-40%) rotate(15deg);
}
.preimage-box {
  position: relative;
  width: 100%;
  height: 100%;
}
.preimage {
  position: absolute;
  top: 0;
  left: 0;
  width: 49%;
  height: 60%;
  border-radius: 5px;
  object-fit: fill;
  transform-origin: bottom center;
}
.button-container {
  width: 100%;
  transform: translateY(2.5vh);
}
.button {
  height: 5vh;
  border-radius: 10px;
  border: none;
  width: 45%;
  margin: 0 2.5%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: large;
  font-weight: bold;
  font-style: oblique;
}
.button1 {
  position: relative;
  background: #047170;
}
.button2 {
  background: #5df07d;
}
.button3 {
  position: relative;
  background: #faf200;
}
.button4 {
  background: #e52121;
}
.upload-container {
  position: relative;
  height: 75%;
  width: 75%;
}
.upload-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.search-container {
  border-radius: 10px;
  overflow: hidden;
  width: 7%;
  height: 7%;
  margin-top: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.search-button {
  width: 100%;
  height: 100%;
  border: none;
  padding: 5px;
}
.search-image {
  width: 100%;
  height: 100%;
}
.hidden {
  display: none;
}
.result-container {
  border-radius: 15px;
  background: white;
  width: 100%;
  margin-top: 2%;
  min-height: 60vh;
  padding: 1%;
}
.result-button {
  width: 30%;
  height: 5%;
  border: none;
  padding: 5px 7.5px;
  border-radius: 5px 5px 0 0;
  font-size: 18px;
  font-weight: bold;
  color: #00c04d;
}
.result-box {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}
.result-percent {
  font-size: 17px;
  font-weight: 500;
  width: 10%;
  height: 5%;
  margin: 3px 3px 3px 5%;
}
.result-image-container {
  width: 35%;
  height: 50%;
  margin-right: 10px;
}
.result-image {
  width: 45%;
  height: 50%;
  border-radius: 5px;
  margin: 0 5px;
}
.result-data-container {
  width: 40%;
  height: 50%;
}
.result-name {
  font-size: large;
  font-weight: 600;
}
.result-common {
  font-size: 17px;
  font-weight: 500;
}
.result-detail-container {
  display: flex;
  align-items: center;
}
.result-detail-image {
  width: 6%;
  height: 6%;
}
.result-detail {
  margin-left: 1px;
  color: #00c04d;
}
.break-line {
  width: 100%;
  height: 0.1vw;
  background: #ccc;
  margin: 10px 0;
}
.break {
  width: 0.2vw;
  height: 13vh;
  background: black;
  margin: 0 10px;
}
.popup-container {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99999;
  display: flex;
  justify-content: center;
  padding-top: 5%;
}
.popup-box {
  width: 65%;
  height: 90vh;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 2.5%;
}
.nope {
  margin-top: 0;
}
.headers {
  font-size: large;
}
.normal {
  font-size: 14px !important;
}
.bigger {
  font-size: 22px !important;
}
.popup-image {
  border-radius: 5px;
  height: 15vh;
  aspect-ratio: 1;
  width: auto;
}
.popup-url {
  color: #00c04d;
}
.video-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video {
  width: 75%;
  min-height: 60%;
  margin: -10vh auto 1vh auto;
}
.video-button {
  border: none;
  padding: 5px 10px;
  background: #00c04d;
  color: white;
  font-size: large;
  border-radius: 5px;
}
