<div class="background">
  <div class="container">
    <div class="card {{ hasGetImageInfo ? 'small-card' : '' }}">
      @if(uploadImgSrc === '') {
      <div class="image">
        <input
          type="file"
          (change)="onFileChange($event)"
          placeholder="_"
          class="image_input"
        />
        <div class="image-container">
          <img
            [ngSrc]="imgSrcArray[2]"
            alt=""
            width="100"
            height="100"
            priority
            class="image-box"
          />
          <img
            [ngSrc]="imgSrcArray[0]"
            alt=""
            width="100"
            height="100"
            class="image-add"
          />
          <img
            [ngSrc]="imgSrcArray[1]"
            alt=""
            width="100"
            height="100"
            priority
            class="image-arrow"
          />
        </div>
      </div>
      <div class="preimage-container">
        <div class="preimage-box">
          @for(image of preImageSrcArray; track i; let i = $index) {
          <img
            [ngSrc]="imgSrcArray[image]"
            alt=""
            width="100"
            height="100"
            class="preimage"
            [ngStyle]="{ transform: 'rotate(' + i * 10 + 'deg)' }"
          />
          }
        </div>
      </div>
      } @else {
      <div class="upload-container">
        <input
          type="file"
          (change)="onFileChange($event)"
          placeholder="_"
          class="image_input"
          [disabled]="hasGetImageInfo"
        />
        <img [src]="uploadImgSrc" alt="" class="upload-image" />
      </div>
      }
      <div class="button-container {{ hasGetImageInfo ? 'hidden' : '' }}">
        @if(uploadImgSrc === '') {
        <button type="button" class="button button1">
          Upload Image
          <input
            type="file"
            (change)="onFileChange($event)"
            placeholder="_"
            class="image_input"
          />
        </button>
        <button type="button" class="button button2">Paste Base64</button>
        } @else {
        <button type="button" class="button button3">
          Change Image
          <input
            type="file"
            (change)="onFileChange($event)"
            placeholder="_"
            class="image_input"
          />
        </button>
        <button
          type="button"
          class="button button4"
          (click)="uploadImgSrc = ''"
        >
          Remove Image
        </button>
        }
      </div>
    </div>
    @if(uploadImgSrc !== '') {
    <div class="search-container {{ hasGetImageInfo ? 'hidden' : '' }}">
      <button type="button" class="search-button" (click)="getImageInfo()">
        <img
          [ngSrc]="imgSrcArray[9]"
          alt=""
          width="100"
          height="100"
          class="search-image"
        />
      </button>
    </div>
    }
    <div class="result-container {{ hasGetImageInfo ? '' : 'hidden' }}">
      <button type="button">Change language</button>
      <div class="break-line"></div>
      @for(data of fetchingData; track i; let i = $index) {
      <div class="result-box">
        <div class="">{{ data.probability * 100 }}%</div>
        <div class="break">&nbsp;</div>
        <div class="">
          @for(image of data.similar_images; track i; let i = $index) {
          <img
            [ngSrc]="image.url"
            alt=""
            width="100"
            height="100"
            class="result-image"
          />
          }
        </div>
        <div class="">
          <div class="">{{ data.name }}</div>
          <div class="">{{ data.details.common_names[0] }},...</div>
          <div class="">
            <img [ngSrc]="imgSrcArray[11]" alt="" width="100" height="100">
            <div class="">Details</div>
            </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
