<div class="background">
  <div class="container">
    <div class="card">
      @if(uploadImgSrc === '') {
      <div class="image">
        <input
          type="file"
          (change)="onFileChange($event)"
          placeholder="_"
          class="image_input"
        />
        <div class="image-container">
          <img
            [ngSrc]="imgSrcArray[2]"
            alt=""
            width="100"
            height="100"
            priority
            class="image-box"
          />
          <img
            [ngSrc]="imgSrcArray[0]"
            alt=""
            width="100"
            height="100"
            class="image-add"
          />
          <img
            [ngSrc]="imgSrcArray[1]"
            alt=""
            width="100"
            height="100"
            priority
            class="image-arrow"
          />
        </div>
      </div>
      <div class="preimage-container">
        <div class="preimage-box">
          @for(image of preImageSrcArray; track i; let i = $index) {
          <img
            [ngSrc]="imgSrcArray[image]"
            alt=""
            width="100"
            height="100"
            class="preimage"
            [ngStyle]="{ transform: 'rotate(' + i * 10 + 'deg)' }"
          />
          }
        </div>
      </div>
      } @else {
      <div class="upload-container">
        <input
          type="file"
          (change)="onFileChange($event)"
          placeholder="_"
          class="image_input"
        />
        <img [src]="uploadImgSrc" alt="" class="upload-image" />
      </div>
      }
      <div class="button-container">
        @if(uploadImgSrc === '') {
        <button type="button" class="button button1">
          Upload Image
          <input
            type="file"
            (change)="onFileChange($event)"
            placeholder="_"
            class="image_input"
          />
        </button>
        <button type="button" class="button button2">Paste Base64</button>
        } @else {
        <button type="button" class="button button3">
          Change Image
          <input
            type="file"
            (change)="onFileChange($event)"
            placeholder="_"
            class="image_input"
          />
        </button>
        <button type="button" class="button button4" (click)="uploadImgSrc = ''">Remove Image</button>
        }
      </div>
    </div>
  </div>
</div>
