.background {
  height: 100vh;
  width: 100%;
  background-image: url('/Background_Image.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  background: white;
}
